{% load i18n %}
{% load bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}
        {% trans 'Hexlet Task Manager' %}
      {% endblock %}
    </title>
  </head>
  <body>
      <header>
      {% if user.is_authenticated %}
        <a href="{% url 'home' %}">{% trans 'Task manager' %}</a> 
        <a href="{% url 'users:list' %}">{% trans 'Users' %}</a> 
        <a href="{% url 'statuses:list' %}" >{% trans 'Statuses' %}</a> 
        <a href="{% url 'labels:list' %}" >{% trans 'Labels' %}</a> 
        <a href="{% url 'tasks:list' %}">{% trans 'Tasks' %}</a>
        <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
      {% else %}
        <a href="{% url 'home' %}">{% trans 'Task manager' %}</a> 
        <a href="{% url 'users:list' %}">{% trans 'Users' %}</a> 
        <a href="{% url 'login' %}" >{% trans 'Login' %}</a> 
        <a href="{% url 'users:signup' %}">{% trans 'Registration' %}</a>
      {% endif %}
    </header>
    <main class="container my-5">
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
