{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load django_tables2 %}

{% block content %}

<div class="container">
    <h1>{% trans 'Tasks' %}</h1>

    <a href="{% url 'tasks:task-create' %}">{% translate 'Create task' %}</a>

    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
    {% endif %}

    {% render_table table %}
</div>

{% endblock %}