{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load django_tables2 %}

{% block content %}

<div class="container">
    <h1>{% trans 'Tasks' %}</h1>

    <a href="{% url 'tasks:create' %}">{% translate 'Create task' %}</a>

    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_field filter.form.status %}
        {% bootstrap_field filter.form.executor %}
        {% bootstrap_field filter.form.labels %}
        {% bootstrap_field filter.form.self_tasks %}
        {% bootstrap_button _('Submit') button_type='submit' button_class='btn-primary' %}
    </form>
    {% endif %}

    {% render_table table %}
</div>

{% endblock %}
